name: build

# on: [push, pull_request, workflow_dispatch]
on: [workflow_dispatch]
jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        # currently ignored by local setup action
        python-version: ["3.12"]
        # os: [macos-15-intel, macos-14, ubuntu-latest, windows-latest]
        os: [ubuntu-latest, windows-latest]
        # os: [ubuntu-latest]
        # os: [windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup/
        with:
          python-version: ${{ matrix.python-version }}
      - name: shell
        shell: bash
        #TODO: cleanup and harmonization
        run: |
          pwd
          ls -alR
          echo $PATH
          export PATH="${GITHUB_WORKSPACE}/uv:$PATH"
          echo $PATH
          uv python find
          uv python list
    
      - name: linux/mac install python libs
        if: runner.os != 'Windows'
        shell: bash
        run: |
          export PATH="${GITHUB_WORKSPACE}/uv:$PATH"
          rm ./pyinst/cpython-3.*/lib/python3.*/EXTERNALLY-MANAGED
          uv pip install build123d ocp_vscode git+https://github.com/GarryBGoode/gggears --python ./pyinst/cpython-3*

      - name: windows install python libs
        if: runner.os == 'Windows'
        shell: bash
        run: |
          export PATH="${GITHUB_WORKSPACE}/uv:$PATH"
          rm ./pyinst/cpython-3.*/Lib/EXTERNALLY-MANAGED
          uv pip install build123d ocp_vscode git+https://github.com/GarryBGoode/gggears --python ./pyinst/cpython-3*

      - name: linux get VSCode
        if: runner.os == 'Linux'
        shell: bash
        run: |
          curl -L -o vscode.tar.gz https://update.code.visualstudio.com/latest/linux-x64/stable
          mkdir vscode/
          tar -zxvf vscode.tar.gz -C vscode/
          mkdir vscode/data
          ls -alR
          chmod +x vscode/VSCode-linux-x64/code
          chmod +x vscode/VSCode-linux-x64/bin/code
          ./vscode/VSCode-linux-x64/bin/code --install-extension ms-python.python
          ./vscode/VSCode-linux-x64/bin/code --install-extension ms-toolsai.jupyter
          ./vscode/VSCode-linux-x64/bin/code --install-extension ms-python.black-formatter
          ./vscode/VSCode-linux-x64/bin/code --install-extension bernhard-42.ocp-cad-viewer
          MY_SCRIPT="Start_VSCode.sh"
          echo "VSCODE_START_SCRIPT=$MY_SCRIPT" >> $GITHUB_ENV
          cp scripts/$MY_SCRIPT ./
          mkdir -p vscode/data/user-data/User/
          cp scripts/settings.json vscode/data/user-data/User/
      # TODO: add missing mac x64 & arm64 [darwin-universal]

      - name: windows get VSCode
        if: runner.os == 'Windows'
        shell: bash
        run: |
          curl -o vscode.zip -LsSf https://update.code.visualstudio.com/latest/win32-x64-archive/stable
          unzip vscode.zip -d vscode/
          mkdir vscode/data
          ls -alR
          vscode/bin/code.cmd --install-extension ms-python.python
          vscode/bin/code.cmd --install-extension ms-toolsai.jupyter
          vscode/bin/code.cmd --install-extension ms-python.black-formatter
          vscode/bin/code.cmd --install-extension bernhard-42.ocp-cad-viewer
          MY_SCRIPT="Start_VSCode.cmd"
          echo "VSCODE_START_SCRIPT=$MY_SCRIPT" >> $GITHUB_ENV
          cp scripts/$MY_SCRIPT ./
          mkdir -p vscode/data/user-data/User/
          cp scripts/settings.json vscode/data/user-data/User/

      - uses: actions/upload-artifact@v6
        with:
          name: build123d-portable-${{ matrix.os }}
          # TODO: make cross-platform compat
          include-hidden-files: true # This line is crucial for including hidden files
          path: |
            pyinst/
            python/
            uv/
            vscode/
            ${{ env.VSCODE_START_SCRIPT }}
